* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    font-family: 'Otomanopee One', sans-serif;
    text-align: center;
    font-size: 50px;
    padding: 10px;
}

#cardsUsers {
    background-color: dimgrey ;
} 

#aplicationUsers {
    margin-left: 50px;
    justify-content: center;
    background-color: black;
}

.row {
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
}

.row div {
    padding: 15px;
}

.card-image {
    width: 300px;
    height: 290px;
    background: #F7F7F7;
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.80);
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    border-radius: 18px;
    margin-left:  10%;
}

#img {
    width: 170px;
    border-radius: 13px 13px 13px 13px;
    margin: 10px 75px 10px 50px;
    align-items: center;
}

@media screen and (max-width: 1280px) {
    .row {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
} 

@media screen and (max-width: 870px) {
    .row {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

